@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
:root {
  --primary-color: #fffefe;
  --secondary-color: #0c101f;
  --light-color: #060a1a;
  --popup-primary: rgb(209, 209, 214);
  --popup-color: rgba(253, 253, 253, 0.445);
  --popup-shadow: rgba(253, 253, 253, 0.1);
}
.dark,
.dark * {
  --primary-color: #0f0909;
  --secondary-color: #e4e0e0;
  --light-color: #ebe6e6;
  --popup-primary: #282829;
  --popup-color: rgba(0, 0, 0, 0.603);
  --popup-shadow: rgba(0, 0, 0, 0.514);
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  color: var(--light-color);
  font-family: 'Wallpoet', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  overflow: hidden;
  margin: 0;
}

.switch {
  align-self: flex-end;
  /* margin: 0.9375rem; */
  top: 3px;
  position: absolute;
  right: 3px;
}
.inner-switch {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 1.25rem;
  width: 3.125rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.1875rem;
  margin-left: 0.3125rem;
}

h1 {
  margin: 20px 0 0;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

h2,
h3 {
  letter-spacing: 0.5rem;
}

.game-container {
  padding: 20px 30px;
  height: 60%;

  text-align-last: center;
}

.figure-container {
  fill: transparent;
  stroke: var(--light-color);
  stroke-width: 7px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  height: 10vh;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 30px;
}
.row {
  width: 100% !important;
  align-items: center !important;
}

.letter {
  border-bottom: 3px solid var(--secondary-color);
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.popup-container {
  background-color: var(--popup-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: var(--popup-primary);
  border-radius: 5px;
  box-shadow: 0 15px 10px 3px var(--popup-shadow);
  padding: 20px;
  text-align: center;
}

.popup button {
  cursor: pointer;
  background-color: var(--light-color);
  color: var(--popup-primary);
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
  font-family: inherit;
  border-radius: 5px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: none;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;
  position: absolute;
  bottom: -60px;
  transition: transform 0.3s ease-in-out;
}

.notification-container.show {
  transform: translateY(-60px);
}

.notification-container p {
  margin: 0;
}
